# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Replit
.replit
.nix/
replit.nix

# Secrets
.env

# VSCode / IDEs
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Zips and backups
*.zip
*.tar.gz
